---
export const prerender = true;
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Made by Bhaarat Krishnan J -->
    <meta charset="UTF-8" />
    <meta name="author" content="Bhaarat Krishnan">
    <meta name="audience" content="Everyone">
    <meta name="publisher" content="Blueswype Tech">
    <meta name="copyright" content="Coding Club EEC">
    <meta name="page-topic" content="coding">
    <meta name="page-type" content="Blogging Community">

    <meta name="keywords" content="eec easwari engineering coding coders club coding club easwari engineering college eeccc coding club of easwari blueswype">
    <meta name="description" content="Coding Club is place for developers and coders to collaborate and code in Easwari Engineering College and all around the world">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coding Club</title>
  </head>
  <body>
    <section id="home"><NavBar /></section>
    
  </body>
</html>
