---
export const prerender = true;
import AboutUs from "../components/AboutUs.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Objectives from "../components/Objectives.astro";
import Team from "../components/Team.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coding Club</title>
  </head>
  <body>
    <section id="home"><NavBar /></section>
    <section id="aboutUs"><AboutUs /></section>
    <section id="objectives"><Objectives /></section>
    <section id="team"><Team /></section>
    <section id="footer"><Footer /></section>
  </body>
</html>
