---
export const prerender = true;
import Hero from "../components/Hero.astro";
import AboutUs from "../components/AboutUs.astro";
import Objectives from "../components/Objectives.astro";
import Team from "../components/Team.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <!-- Made by 
    Bhaarat Krishnan J -->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Coders Club</title>
  </head>
  <body class="bg-neutral-900">
    <Hero />
    <AboutUs />
    <Objectives />
    <Team />
    <Footer />
  </body>
</html>
