---
---

<section id="aboutUs">
  <div class="flex flex-col items-center space-y-14 px-8 pb-16">
    <!-- about us titel  -->
    <div
      class="hover:text-gradient bg-white from-white to-logoBlue bg-clip-text text-6xl font-bold text-transparent transition-all ease-in-out hover:scale-110 hover:bg-gradient-to-r hover:tracking-widest"
    >
      About Us
    </div>
    <!-- row for image and content  -->
    <div class="flex flex-row">
      <!-- Video  -->
      <div
        class="flex basis-1/2 justify-center transition ease-in-out hover:scale-110 hover:brightness-125 hover:contrast-125"
      >
        <div class="relative drop-shadow-lg">
          <video loop autoplay muted>
            <source src="/imgs/AboutUsVideo.mp4" />
          </video>
          <div class="absolute left-0 top-0 p-2">
            <img
              src="/imgs/EecLogo.png"
              class="h-14 w-14 object-contain"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- content  -->
      <div class="basis-1/2 pr-24">
        <div
          class="flex text-justify font-sans text-xl font-medium leading-9 tracking-wide text-neutral-500 antialiased transition duration-200 ease-in-out hover:scale-110 hover:text-neutral-300"
        >
          The Coders Club is an initiative of CSE Department who wanted to
          create a space for coders to connect and collaborate. Since then,
          we've grown into a vibrant community with several members. Our mission
          is to provide a supportive and inclusive environment for coders to
          learn, experiment, and build projects. We believe that coding is a
          powerful tool for creativity and problem-solving, and we're excited to
          share that passion with others. Our annual college-wide coding
          competition is a highlight of the year, and we take great pride in
          recruiting the best and brightest coders to our club. We believe that
          success in coding requires more than just technical skills, which is
          why we focus on developing strong analytical and problem-solving
          abilities in our members.
        </div>
      </div>
    </div>
  </div>
</section>
