---
---

<div class="flex flex-col px-4 pb-4 items-center  space-y-14">
  <!-- about us titel  -->
  <div class="text-white font-bold text-6xl antialiased">About Us</div>
  <!-- row for image and content  -->
  <div class="flex flex-row">
    <!-- Video  -->
    <div class="basis-1/2 flex justify-center">
      <div class="relative">
        <video  loop autoplay muted>
          <source src="/imgs/AboutUsVideo.mp4">
        </video>
        <div class="absolute top-0 left-0 p-2">
          <img src="/imgs/EecLogo.png" class="object-contain w-14 h-14" alt="">
        </div>
      </div> 
    </div>
    <!-- content  -->
    <div class="basis-1/2 flex text-white font-serif text-3xl pr-8 antialiased">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      maxime, voluptas quam adipisci sequi quis est tempora nemo. Et, minima
      corrupti totam iusto aliquam asperiores. Numquam ipsa sit maiores rem.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo vero,
      excepturi temporibus iste rem blanditiis quae quibusdam eveniet
      voluptatibus, tempore hic consectetur laboriosam. Doloremque quae
      praesentium quaerat ab temporibus assumenda? Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. Omnis soluta consequuntur fugiat in
      doloribus neque a tempora necessitatibus. Molestiae amet, architecto
      suscipit distinctio voluptatibus magnam? Qui assumenda nesciunt fuga
      mollitia?
    </div>
  </div>
</div>