---
---

<div class="flex flex-col px-4 pb-4 items-center space-y-14">
  <!-- about us titel  -->
  <div
    class="text-transparent font-bold text-6xl antialiased bg-white bg-clip-text hover:bg-gradient-to-l from-white to-logoBlue transition-all hover:scale-110 ease-in-out"
  >
    About Us
  </div>
  <!-- row for image and content  -->
  <div class="flex flex-row">
    <!-- Video  -->
    <div
      class="basis-1/2 flex justify-center hover:scale-110 transition ease-in-out hover:brightness-125 hover:contrast-125"
    >
      <div class="relative drop-shadow-lg">
        <video loop autoplay muted>
          <source src="/imgs/AboutUsVideo.mp4" />
        </video>
        <div class="absolute top-0 left-0 p-2">
          <img
            src="/imgs/EecLogo.png"
            class="object-contain w-14 h-14"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- content  -->
    <div class="basis-1/2 pr-24">
      <div
        class="flex hover:scale-110 transition ease-in-out text-neutral-500 hover:text-neutral-300 font-medium font-sans text-xl duration-200 leading-9 antialiased tracking-wide text-justify"
      >
        The Coders Club was found by CSE Department who wanted to create a space
        for coders to connect and collaborate. Since then, we've grown into a
        vibrant community with several members. Our mission is to provide a
        supportive and inclusive environment for coders to learn, experiment,
        and build projects. We believe that coding is a powerful tool for
        creativity and problem-solving, and we're excited to share that passion
        with others. Our annual college-wide coding competition is a highlight
        of the year, and we take great pride in recruiting the best and
        brightest coders to our club. We believe that success in coding requires
        more than just technical skills, which is why we focus on developing
        strong analytical and problem-solving abilities in our members.
      </div>
    </div>
  </div>
</div>
