---
const creatorList = [
  {
    name: "Bhaarat Krishnan J",
    social: "https://www.linkedin.com/in/bhaarat-krishnan-440494220",
  },
  {
    name: "Akash M",
    social: "https://www.linkedin.com/in/bhaarat-krishnan-440494220",
  },
];
const footerLinks = [
  { name: "About Us", link: "#aboutUs" },
  { name: "Objectives", link: "#objectives" },
  { name: "Our Team", link: "#team" },
  { name: "Events", link: "#" },
];
---

<div
  class="flex flex-col lg:flex-row space-y-8 lg:space-y-5 justify-around bg-gradient-to-b from-transparent to-neutral-800 p-16"
>
  <div class="flex flex-col space-y-4 lg:space-y-2">
    <div class="text text-3xl text-logoBlue">Quick Links</div>

    {
      footerLinks.map((item) => (
        <a href={item.link}>
          <div class="text text-xl text-white transition ease-in-out hover:scale-105 hover:text-logoBlue">
            {item.name}
          </div>
        </a>
      ))
    }
  </div>
  <div class="flex flex-col justify-center space-y-4">
    <div class="text text-2xl lg:text-4xl text-white">Designed and Created by</div>
    {
      creatorList.map((item) => (
        <a href={item.social} target="_blank">
          <div class="text antiliased font-mono text-2xl lg:text-3xl font-bold text-logoBlue transition ease-in-out hover:scale-110 hover:text-white">
            {item.name}
          </div>
        </a>
      ))
    }
  </div>
</div>
