---
import CodeTypingComp from "./CodeTypingComp/CodeTypingComp.svelte";
---

  <div
    class="hero min-h-screen bg-gradient-to-b from-transparent to-base-100 backdrop-blur backdrop-brightness-75"
  >
    <div class="hero-content flex-col px-4 py-10 md:p-8 lg:p-12 lg:flex-row">
      <div class="lg:mr-20">
        <h1 class="text-5xl font-bold lg:text-7xl text-white uppercase">Coding Club</h1>
        <p class="py-6 text-white">
          Talk is cheap.Show me the Code
        </p>
        <label for="my-drawer" class="btn btn-primary text-white">Get Started!</label>
      </div>
      <CodeTypingComp client:idle />
    </div>
  </div>
