---
import CodeTypingComp from "./CodeTypingComp/CodeTypingComp.svelte";
---

<div
  class="hero max-h-screen bg-gradient-to-b from-transparent to-base-100 backdrop-blur backdrop-brightness-75"
>
  <div
    class="hero-content flex-col px-4 py-2 md:p-8 lg:flex-row lg:p-12 lg:py-10"
  >
    <div class="text-center lg:mr-20 lg:text-start">
      <h1 class="text-5xl font-bold uppercase text-white lg:text-7xl">
        Coding Club
      </h1>
      <p class="py-6 text-white">Talk is cheap.Show me the Code</p>
      <a href="/events"
        ><button class="btn-primary btn text-white">Get Started!</button></a
      >
    </div>
    <CodeTypingComp client:idle />
  </div>
</div>
