---
import CodeTypingComp from "./CodeTypingComp/CodeTypingComp.svelte";
---

<div class="bg-[url(/imgs/HeroImage.jpg)]">
  <div
    class="hero min-h-screen bg-gradient-to-b from-transparent to-base-100 backdrop-blur backdrop-brightness-75"
  >
    <div class="hero-content flex-col p-12 lg:flex-row ">
      <div class="lg:mr-20">
        <h1 class="text-5xl font-bold lg:text-7xl text-white uppercase">Coding Club</h1>
        <p class="py-6">
          Talk is cheap.Show me the Code
        </p>
        <label for="my-drawer" class="btn btn-primary drawer-button">Get Started!</label>
      </div>
      <CodeTypingComp client:load />
    </div>
  </div>
</div>
