---
import Hero from "./Hero.astro";
---

<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <Hero />
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu w-80 bg-base-100 p-4 text-base-content">
      <!-- Sidebar content here -->
      <li><a href="#home">Home</a></li>
      <li><a href="#aboutUs">About Us</a></li>
      <li><a href="#objectives">Objectives</a></li>
      <li><a href="#team">Our Team</a></li>
    </ul>
  </div>
</div>
