---
import AboutUs from "./AboutUs.astro";
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";
import Objectives from "./Objectives.astro";
import Team from "./Team.astro";
const navBarItems = [
  {
    title: "Home",
    link: "#home",
  },
  {
    title: "About Us",
    link: "#aboutUs",
  },
  {
    title: "Objectives",
    link: "#objectives",
  },
  {
    title: "Our Team",
    link: "#team",
  },
  {
    title: "Events",
    link: "/events",
  },
];
---


<div class="bg-[url(/imgs/HeroImage.webp)] bg-fixed bg-center">
  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div
      class="drawer-content flex flex-col backdrop-blur backdrop-brightness-75"
    >
      <!-- space for padding  -->
      <div class="flex h-4 scale-0">Space</div>
      <!-- Navbar -->
      <div class="navbar w-full">
        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" class="btn-ghost btn-square btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-6 w-6 stroke-current"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path></svg
            >
          </label>
        </div>
        <div class="flex-1">
          <img
            src="/imgs/logo.webp"
            class="h-24 lg:h-28 w-24 lg:w-28 object-cover object-center"
            alt=""
          />
        </div>
        <div class="hidden flex-none lg:block">
          <ul class="menu menu-horizontal space-x-10 font-semibold text-white text-xl">
            <!-- Navbar menu content here -->
            {
              navBarItems.map((v) => (
                <li class="transition ease-in-out hover:bg-base-100">
                  <a href={v.link}>{v.title}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <!-- Page content here -->
      <Hero />
      <section id="aboutUs" class="bg-base-100"><AboutUs /></section>
      <section id="objectives" class="bg-base-100"><Objectives /></section>
      <section id="team" class="bg-base-100"><Team /></section>
      <section id="footer" class="bg-base-100"><Footer /></section>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-3" class="drawer-overlay"></label>
      <ul class="menu w-72 bg-base-100 p-4 text-xl text-white">
        <!-- Sidebar content here -->
        {navBarItems.map((v) => (
                  <li><a href={v.link}>{v.title}</a></li>
        ))}
      </ul>
    </div>
  </div>
</div>
