---
const objectivesArray = [
  {
    title: "Coding Literacy",
    content:
      "Coding literacy is a vital skill in today's technology-driven world. To increase coding literacy, it's essential to provide access to coding courses, workshops, and events. By increasing coding literacy, individuals can develop their ability to read and write code.",
  },
  {
    title: "Mentorship",
    content:
      "Offering mentorship and guidance to members who are just starting their coding journey is an important objective of a coder's club. This helps beginners to develop their coding skills and learn how to navigate the world of programming.",
  },
  {
    title: "Coding Events",
    content:
      "Organizing coding events, hackathons, and workshops is an essential part of a coder's club. These events provide opportunities for members to come together and learn from each other, share their knowledge, and improve their coding skills.",
  },
  {
    title: "Logical Thinking",
    content:
      " By creating a platform that focuses on logical thinking, the club can help engineering students become better equipped to tackle complex challenges in their future careers. Through logical thinking better understanding of technology and potential career opportunities in the tech industry.",
  },
  {
    title: "Professional Development",
    content:
      "Finally, coding clubs may also aim to help their members develop the skills and experience needed to pursue careers in technology. This can involve providing job search resources, organizing career fairs, and inviting guest speakers from the industry.",
  },
  {
    title: "Fun and Enjoyment",
    content:
      "Finally, coding clubs are often a place for members to have fun and enjoy their shared passion for coding and technology. This can involve organizing social events, hackathons, coding competitions, and other activities that allow members to connect and collaborate in a supportive and enjoyable environment.",
  },
];
---

<div class="flex flex-col py-12 px-8 justify-center items-center space-y-12">
  <!-- objectives title  -->
  <div
    class="text-transparent text-6xl font-bold hover:scale-110 bg-white bg-clip-text hover:bg-gradient-to-l from-white

    to-logoBlue hover:text-gradient transition ease-linear"
  >
    Objectives
  </div>
  <!-- cards -->
  <div class="grid grid-cols-3 gap-20">
    <!-- card single  -->
    {
      objectivesArray.map((item) => (
        <div class="flex border rounded-xl">
          <div
            class="bg-neutral-800 group p-8 hover:bg-gradient-to-br 
       from-transparent to-neutral-900 transition ease-in-out 
       hover:scale-110 flex flex-col space-y-2 
       rounded-xl w-80 hover:-skew-x-3 hover:-skew-y-3 hover:leading-8"
          >
            <div class="text-white group-hover:text-transparent group-hover:bg-gradient-to-br from-white to-logoBlue 
             bg-clip-text group-hover:brightness-110 transition ease-in-out font-medium text-3xl">
              {item.title}
            </div>
            <div class="text-neutral-500 group-hover:text-neutral-300 transition ease-in-out text-base text-clip">
              {item.content}
            </div>
          </div>
        </div>
      ))
    }

    
  </div>
</div>
