---
const objectivesArray = [
  {
    title: "Coding Literacy",
    content:
      "Coding literacy is a vital skill in today's technology-driven world. To increase coding literacy, it's essential to provide access to coding courses, workshops, and events. By increasing coding literacy, individuals can develop their ability to read and write code.",
  },
  {
    title: "Mentorship",
    content:
      "Offering mentorship and guidance to members who are just starting their coding journey is an important objective of a coder's club. This helps beginners to develop their coding skills and learn how to navigate the world of programming.",
  },

  {
    title: "Logical Thinking",
    content:
      "The club can help engineering students become better equipped to tackle complex challenges in their future careers. Through logical thinking better understanding of technology and potential career opportunities in the tech industry.",
  },

  {
    title: "Fun and Enjoyment",
    content:
      "Coding club is often a place for members to have fun and enjoy their shared passion for coding and technology. This can involve organizing social events, hackathons, coding competitions, and other activities that allow members to connect and collaborate in a supportive and enjoyable environment.",
  },
  {
    title: "Showcase your Talent",
    content:
      "Creating a platform for members to showcase their coding projects and receive feedback from peers is an important objective of a coder's club. This can help members to improve their coding skills, get feedback on their projects, and showcase their work to potential employers.",
  },
  {
    title: "Project based Learning",
    content:
      " Some coding clubs focus on project-based learning, where members work on real-world coding projects and gain hands-on experience. This can help members develop their coding skills and learn how to apply them to solve practical problems.",
  },
];
---

<section id="objectives">
  <div class="flex flex-col items-center justify-center space-y-12 px-8 py-16">
    <!-- objectives title  -->
    <div
      class="hover:text-gradient bg-white from-white to-logoBlue bg-clip-text text-6xl font-bold text-transparent transition-all ease-in-out hover:scale-110 hover:bg-gradient-to-l hover:tracking-widest"
    >
      Objectives
    </div>
    <!-- cards -->
    <div class="grid grid-cols-3 gap-20">
      <!-- card single  -->
      {
        objectivesArray.map((item) => (
          <div class="flex rounded-xl border">
            <div
              class="group flex w-80 flex-col 
          space-y-2 rounded-xl bg-neutral-800 from-transparent 
          to-neutral-900 p-8 transition ease-in-out 
       hover:-skew-x-3 hover:-skew-y-3 hover:scale-110 hover:bg-gradient-to-br hover:leading-8"
            >
              <div
                class="from-white to-logoBlue bg-clip-text text-3xl font-medium 
       text-white transition ease-in-out group-hover:bg-gradient-to-br group-hover:text-transparent group-hover:brightness-110"
              >
                <i>{item.title}</i>
              </div>
              <div class="text-clip text-base text-neutral-500 transition ease-in-out group-hover:text-neutral-300">
                {item.content}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
