---
import TeamCardAdvisor from "./TeamCardAdvisor.astro";
import TeamCardGlass from "./TeamCardGlass.astro";
import LeadDropdown from "./LeadDropdown.astro";
import leadData from "../data/leadData.js";
const teamAdvisors = [
  {
    name: "Arockia Abins",
    posting: "Club Advisor",
    imgLink: "/imgs/abins.webp",
    social: "",
  },
  {
    name: "Dr Ahamed Ali S",
    posting: "Club Advisor",
    imgLink: "/imgs/ahmed.webp",
    social: "",
  },
  {
    name: "Justin Dhas",
    posting: "Club Advisor",
    imgLink: "/imgs/justin.webp",
    social: "",
  },
];
const teamArray1 = [
  {
    name: "Rishal Cheran",
    posting: "President",
    imgLink: "/imgs/rishal.webp",
    social: "https://www.linkedin.com/in/rishal-cheran-2a62591b2/",
  },
  {
    name: "Bhaarat Krishnan J",
    posting: "Vice President",
    imgLink: "/imgs/bhaarat.webp",
    social: "https://www.linkedin.com/in/bhaarat-krishnan-440494220",
  },
  {
    name: "Rohidh G C",
    posting: "Treasurer",
    imgLink: "/imgs/rohidhgc.webp",
    social: "https://www.linkedin.com/in/rohidh-g-c-0416a6213",
  },
];
const teamArray2 = [
  {
    name: "Akash M",
    posting: "Secretary",
    imgLink: "/imgs/akash.webp",
    social: "https://www.linkedin.com/in/akashm2003/",
  },
  {
    name: "Radhika",
    posting: "Joint Secretary",
    imgLink: "/imgs/radhika.webp",
    social: "",
  },
];
const leads = leadData();
---

<section id="team">
  <div class="flex flex-col items-center justify-center space-y-16 py-16">
    <!-- title  -->
    <div
      class="hover:text-gradient mx-6 mb-4 bg-white from-white to-logoBlue bg-clip-text text-5xl lg:text-6xl font-bold text-transparent text-center transition-all ease-in-out hover:scale-110 hover:bg-gradient-to-r hover:tracking-wide lg:hover:tracking-widest"
    >
      Our Amazing People
    </div>
    <!-- advisors grid  -->
    <div class="grid grid-cols-1 gap-16 lg:grid-cols-3">
      <!-- single card  -->
      {
        teamAdvisors.map((teamMember) => (
          <TeamCardAdvisor teamMember={teamMember} />
        ))
      }
    </div>
    <!-- core 1 frame  -->
    <div class="grid grid-cols-1 gap-16 lg:grid-cols-3">
      <!-- single card  -->
      {
        teamArray1.map((teamMember) => (
          <TeamCardGlass teamMember={teamMember} />
        ))
      }
    </div>
    <!-- core 2 frame  -->
    <div class="grid grid-cols-1 gap-16 lg:grid-cols-2">
      {
        teamArray2.map((teamMember) => (
          <TeamCardGlass teamMember={teamMember} />
        ))
      }
    </div>
    <div class="flex-col w-full">
      {leads.map((v: any) => <LeadDropdown leadData={v} />)}
    </div>
  </div>
</section>
