---
const { item } = Astro.props;
---

<div class="card w-80 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img
      src={item.imgLink}
      alt={item.name}
      class="h-52 w-40 rounded-xl object-cover object-center"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{item.name}</h2>
    <div class="card-actions">
      <a href={item.social} target="_blank"
        ><button class="btn-primary btn bg-base-300">Contact</button></a
      >
    </div>
  </div>
</div>
