---
const { items } = Astro.props;
---

<div class="flex w-full flex-row p-4">
  <!-- title  -->
  <div class="text basis-1/2 font-mono font-semibold text-white">
    Compeititve Programming Leads
  </div>
  <div class="flex basis-1/2 flex-row space-x-4 justify-center">
    {
      items.map(
        (item: { imgLink: string | null | undefined; name: unknown }) => (
          <div class="flex flex-col">
            <img src={item.imgLink} class="object-cover h-52 w-52 rounded-full object-center" alt="" />
            <div class="text font-serif text-2xl font-semibold text-white">
              {item.name}
            </div>
          </div>
        )
      )
    }
  </div>
</div>
