---
const { teamMember } = Astro.props;
---

<div class="card w-80 bg-base-100 shadow-xl">
  <figure>
    <img
      src={teamMember.imgLink}
      alt={teamMember.name}
      class="h-80 w-72 rounded-xl object-cover"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {teamMember.name}
    </h2>
    <p>{teamMember.posting}</p>
    <div class="card-actions justify-end">
      <div class="badge-outline badge">Assistant Professor</div>
      <div class="badge-outline badge">EEC</div>
    </div>
  </div>
</div>
